<breadcrumb [breadcrumbItems]="breadcrumbs"></breadcrumb>
<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>District Master</span>
            <div class="counting">
                <span>
                    {{ totlRecords > 0 ? startValue : 0 }} -
                    {{ lastValue > totlRecords ? totlRecords : lastValue }}
                    OF {{ totlRecords > 0 ? totlRecords : 0 }} District
                </span>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <pagination-controls id="pg3" [maxSize]="10" [responsive]="true" [nextLabel]="''"
                        [previousLabel]="''" (pageChange)="onTablePageChange($event)">
                    </pagination-controls>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="header-container">
            <div class="left-section">
                <div class="search-form">
                    <input placeholder="Search for..." type="text" [(ngModel)]="searchKeyword" class="form-control search-input" />
                    <button type="button" class="btn-search"  >
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="right-section">
                <button class="btn btn-primary" (click)="onCreateDistrict('')">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create District
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                    <ng-container *ngIf="isLoading; else content">
                        <app-skeleton-loader [isLoading]="isLoading" [columns]="columns"
                            [items]="districtList | paginate: { id: 'pg3', itemsPerPage: tableSize, currentPage: page, totalItems: count }"></app-skeleton-loader>
                    </ng-container>
                    <ng-template #content>
                        <ngx-table  [configuration]="configuration" [data]="districtList | searchFilter: searchKeyword
                        | paginate
                        : {
                            id: 'pg3',
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          } " [columns]="columns" [noResultsTemplate]="noResultsTemplate">
                            <ng-template let-item let-index="index">
                                <td>{{item?.circle_name}}</td>
                                <td>{{item?.district_name}}</td>
                                <td>
                                    @if (item?.is_active == true) {
                                    <span >Active</span>
                                    }@else {
                                    <span >Inactive</span>
                                    }
                                </td>
                                <td>
                                    <a class="icon">
                                        <button class="btn btn-success" (click)="onCreateDistrict(item)"><i class="fa fa-pencil"></i>  Edit</button>                                
                                        <button class="btn btn-danger" (click)="onDeleteDistrict(item)"><i class="fa fa-trash"></i>  Delete</button>
                                        
                                    </a>
                                </td>
                            </ng-template>
                        </ngx-table>
                        <ng-template #noResultsTemplate>
                            <td [attr.colspan]="columns.length" class="no-results">
                                District Not Found
                            </td>
                        </ng-template>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>



</div>