<div class="je-details p-6">
    <div class="left">
        @for (item of accordionItems; track item; let index = $index) {
            <div class="bg-white shadow rounded-lg p-4 mb-3 cursor-pointer transition-all duration-300"
            [ngClass]="{
                'border border-blue-500 scale-105 shadow-lg': openItemId === item.id, 
                'border border-gray-500 w-full': openItemId !== item.id
            }"
             (click)="onOpenCategory(item.id)">
                <div class="flex justify-between items-center">
                    <div>
                        <h2 class="text-lg text-gray-800">{{ item.heading }}</h2>
                    </div>
                    <span class="inline-flex items-center px-3 py-0.5">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        }
    </div>
    @if (openItemId !== null) {
        <div class="cirlce-side">
            <div id="datatable_wrapper">
                <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid" #TABLE
                    aria-describedby="datatable_info" style="width: 100%" width="100%">
                    <thead>
                        <tr role="row">
                            <th *ngFor="let vehicleHeading of columns">
                                <span>{{ vehicleHeading?.title }}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of categoryList; let index = index">
                            <td>{{ item?.cat }}</td>
                            <td>{{ item?.work }}</td>
                            <td>{{ item?.status }}</td>                            
                            <td class="flex space-x-2">
                                <button class="btn btn-primary" (click)="openAreaPlot()">
                                    <i class="fa fa-tasks" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center py-4 text-gray-500" *ngIf="!categoryList?.length">
                    No Category Available
                </div>
            </div>
        </div>
    }
</div>