
<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Category Master</span>
            <div class="counting">
                <span>
                    {{ pagesize.count > 0 ? startValue : 0 }} -
                    {{ pagesize.count > 0 ? lastValue : 0 }}
                    OF {{ pagesize.count > 0 ? pagesize.count : 0 }} Category
                </span>
            </div>
            <div class="row" *ngIf="pagesize.count && pagesize.count > 0">
                <div class="d-flex justify-content-center">
                    <pagination-controls id="catID" [maxSize]="10" [responsive]="true" [nextLabel]="''"
                        [previousLabel]="''" (pageChange)="onTablePageChange($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="header-container">
            <div class="left-section">
                <div class="search-form">
                    <input placeholder="Search for..." type="text" [(ngModel)]="searchKeyword"
                        class="form-control search-input" />
                    <button type="button" class="btn-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="right-section flex gap-x-2">
                <div class="flex items-center space-x-2">
                    <label for="itemsPerPage" class="text-sm text-gray-700">Items per page:</label>
                    <select id="itemsPerPage"
                        class="block w-20 p-2 bg-white border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700"
                        [(ngModel)]="pagesize.limit" (change)="onPageSizeChange($event)">
                        <option *ngFor="let size of [25, 50, 100]" [value]="size">{{ size }}</option>
                    </select>
                </div>
                <button class="btn btn-primary" (click)="onCreateCategory('')">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create Category
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                    <ng-container *ngIf="isLoading; else content">
                        <app-skeleton-loader [isLoading]="isLoading" [columns]="columns" [items]="categoryList | paginate: {
                                id: 'catID',
                                itemsPerPage: pagesize.limit,
                                currentPage: pagesize.offset,
                                totalItems: pagesize.count
                              } "></app-skeleton-loader>
                    </ng-container>
                    <ng-template #content>
                        <div id="datatable_wrapper">
                            <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                            #TABLE aria-describedby="datatable_info" style="width: 100%" width="100%">
                                <thead>
                                    <tr role="row">
                                        <th *ngFor="let vehicleHeading of columns"
                                           >
                                            <span>{{ vehicleHeading?.title }}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of categoryList | searchFilter: searchKeyword | paginate: {id: 'catID', itemsPerPage: pagesize.limit, currentPage: pagesize.offset, totalItems: pagesize.count}; let index = index"
                                        >
                                        <td>{{ (pagesize.offset - 1) * pagesize.limit + index + 1 }}</td>
                                        <td>{{item?.category_name}}</td>
                                        <td >
                                            <span *ngIf="item?.is_active; else inactive"
                                                class="text-green-600 font-medium">Active</span>
                                            <ng-template #inactive>
                                                <span class="text-red-600 font-medium">Inactive</span>
                                            </ng-template>
                                        </td>
                                        <td class="flex space-x-2">
                                            <button
                                                class="btn btn-success"
                                                (click)="onCreateCategory(item)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button
                                                class="btn btn-danger"
                                                (click)="onDeletecategory(item)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center py-4 text-gray-500"
                                *ngIf="!categoryList?.length || !(categoryList | searchFilter: searchKeyword)?.length">
                                No Category Available
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>
</div>