<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>User Master</span>
            <div class="counting">
                <span>
                    {{ pagesize.count > 0 ? startValue : 0 }} -
                    {{ pagesize.count > 0 ? lastValue : 0 }}
                    OF {{ pagesize.count > 0 ? pagesize.count : 0 }} Users
                </span>
            </div>
            <div class="row" *ngIf="pagesize.count && pagesize.count > 0">
                <div class="d-flex justify-content-center">
                    <pagination-controls id="userID" [maxSize]="10" [responsive]="true" [nextLabel]="''"
                        [previousLabel]="''" (pageChange)="onTablePageChange($event)">
                    </pagination-controls>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-3">
                <ngx-select-dropdown [config]="config" [(ngModel)]="selectedDepartment" [options]="deparmentList">
                </ngx-select-dropdown>
            </div>
            <div class="col-md-3">
                <ngx-select-dropdown [config]="config1" [(ngModel)]="selectedDesignation" [options]="desigantionList">
                </ngx-select-dropdown>
            </div>
            <div class="col-md-3">
                <div class="search-form">
                    <input placeholder="Search for..." type="text" [(ngModel)]="searchKeyword" (input)="onSearch($event)"
                        class="form-control search-input" />
                    <button type="button" class="btn-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3 flex justify-end gap-x-2">
                <div class="flex items-center space-x-2">
                    <label for="itemsPerPage" class="text-sm text-gray-700">Items per page:</label>
                    <select id="itemsPerPage"
                        class="block w-20 p-2 bg-white border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700"
                        [(ngModel)]="pagesize.limit" (change)="onPageSizeChange($event)">
                        <option *ngFor="let size of [25, 50, 100]" [value]="size">{{ size }}</option>
                    </select>
                </div>

                <button class="btn btn-primary" (click)="onCreateuser('')">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create User
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                    <ng-container *ngIf="isLoading; else content">
                        <app-skeleton-loader [isLoading]="isLoading" [columns]="columns" [items]="userList | searchFilter : searchKeyword | paginate: {  id: 'userID',
                            itemsPerPage: pagesize.limit,
                            currentPage: pagesize.offset,
                            totalItems: pagesize.count}"></app-skeleton-loader>
                    </ng-container>
                    <ng-template #content>
                        <div id="datatable_wrapper">
                            <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                                role="grid" #TABLE aria-describedby="datatable_info" style="width: 100%" width="100%">
                                <thead>
                                    <tr role="row">
                                        <th *ngFor="let vehicleHeading of columns"
                                            [ngClass]="{ 'w-zone': vehicleHeading.key === 'Zone' }"
                                            [ngClass]="{ 'w-circle': vehicleHeading.key === 'Circle' }"
                                            [ngClass]="{ 'w-name': vehicleHeading.key === 'Name' }">
                                            <span>{{ vehicleHeading?.title }}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="userList">
                                    <tr *ngFor="let item of userList | paginate
                                  : {
                                      id: 'userID',
                                      itemsPerPage: pagesize.limit,
                                      currentPage: pagesize.offset,
                                      totalItems: pagesize.count
                                    }; let index = index">
                                        <td>
                                            {{ (pagesize.offset - 1) * pagesize.limit + index + 1 }}
                                        </td>
                                        <td>{{ item?.department_name ||
                                            "NA" }}</td>
                                        <td>{{ item?.designation_name
                                            || "NA" }}</td>
                                        <td [ngClass]="{ 'w-name': true }">{{ item?.full_name || "NA"
                                            }}</td>
                                        <td>{{ item?.contact_no || "NA"
                                            }}</td>
                                        <td>{{ item?.email_id || "NA"
                                            }}</td>
                                        <td>{{ item?.division || "NA"
                                            }}</td>
                                        <td>{{ item?.ae_name ||
                                            "NA" }}</td>
                                        <td>{{ item?.ee_name ||
                                            "NA" }}</td>
                                        <td>{{ item?.district || "NA"
                                            }}</td>
                                        <td>{{ item?.se_name ||
                                            "NA" }}</td>
                                        <td [ngClass]="{ 'w-circle': true }">{{ item?.circle || "NA" }}
                                        </td>
                                        <td>{{ item?.ce_name ||
                                            "NA" }}</td>
                                        <td [ngClass]="{ 'w-zone': true }">{{ item?.zone || "NA" }}
                                        </td>
                                        <td>
                                            <ng-container *ngIf="item?.img_path; else noImage">
                                                <img class="w-10 h-10 rounded-full user-image"
                                                    [src]="imgeUrl + item?.img_path" alt="User Image" />
                                            </ng-container>
                                            <ng-template #noImage>
                                                <span class="text-gray-500">NA</span>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <span *ngIf="item?.is_active; else inactive"
                                                class="text-green-600 font-medium">Active</span>
                                            <ng-template #inactive>
                                                <span class="text-red-600 font-medium">Inactive</span>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <div class="btn-edit">
                                                <button class="btn btn-success" (click)="onCreateuser(item)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-danger" (click)="deleteUser(item)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center py-4 text-gray-500"
                                *ngIf="!userList?.length || !(userList | searchFilter: searchKeyword)?.length">
                                No User Available
                            </div>
                        </div>

                    </ng-template>
                </div>
            </div>

        </div>
    </div>



</div>