<div class="card">
  <div class="card-header">
    <!-- di
    <span>Tracking</span> -->
    <div class="flex justify-between items-center">
      <div class="min-w-0 flex-auto">
        <p class="">Tracking</p>
      </div>
      <div class="hidden  sm:flex sm:flex-col sm:items-end">
        <div class="search-form">
          <input placeholder="Search for..." type="text" 
              class="form-control search-input" />
          <button type="button" class="btn-search">
              <i class="fa fa-search" aria-hidden="true"></i>
          </button>
      </div>
      </div>
    </div>
  </div>

  <div class="p-2">
    <ul role="list" class="card-container" [class.scrollable]="trackingData.length > 6">
      <li class="p-2 mt-1 tracking-row" *ngFor="let card of trackingData; let i = index">
        <div class="profile-stats p">
          <div class="flex min-w-0 gap-x-4 items-center" (click)="toggleDetails(i, $event)">
            <img class="size-12 flex-none rounded-full bg-gray-50 user-image" [src]="card.avatar" alt="">
            <div class="min-w-0 flex-auto">
              <p class="text-sm/6 font-semibold text-gray-900">{{card.name}}</p>
            </div>
          </div>
          <div class="flex gap-x-2">
            <button class="px-3 py-1 bg-blue-500 text-white rounded-md">{{card?.stats?.SE}}</button>
            <button class="px-3 py-1 bg-green-500 text-white rounded-md">{{card?.stats?.EE}}</button>
            <button class="px-3 py-1 bg-yellow-500 text-white rounded-md">{{card?.stats?.AE}}</button>
            <button class="px-3 py-1 bg-red-500 text-white rounded-md">{{card?.stats?.JE}}</button>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="mt-1 text-xs/5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
          </div>
        </div>

        <div *ngIf="activeCardIndex === i" class="details-section mt-3">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="image-column" rowspan="6">
                  <img [src]="card.avatar" alt="Image" class="detail-image">
                </td>
                <td><b>Time:</b></td>
                <td>{{ card.details.time }}</td>
              </tr>
              <tr>
                <td><b>Lat:</b></td>
                <td>{{ card.details.lat }}</td>
              </tr>
              <tr>
                <td><b>Lng:</b></td>
                <td>{{ card.details.lng }}</td>
              </tr>
              <tr>
                <td><b>GPS:</b></td>
                <td>{{ card.details.gps }}</td>
              </tr>
              <tr>
                <td><b>Battery:</b></td>
                <td>{{ card.details.battery }}</td>
              </tr>
              <tr>
                <td><b>Distance:</b></td>
                <td>{{ card.details.distance }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>


  </div>
</div>