<div class="card">
    <div class="card-header">
      <span>Tracking</span>
      <div class="input-group search-box">
        <input 
          id="search-focus" 
          type="search" 
          class="form-control" 
          placeholder="Search..." 
          aria-label="Search" 
          aria-describedby="search-button"
        />
        <button 
          type="button" 
          class="btn btn-primary" 
          id="search-button"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    
    <div class="card-body">
      <ul class="list-unstyled card-container" [class.scrollable]="trackingData.length > 6">
        <li *ngFor="let card of trackingData; let i = index" (click)="toggleDetails(i, $event)"
          class="tracking-row p-2 mb-2">          
          <div class="profile-stats">            
            <h6 class="mb-0">{{ card.name }}</h6>
            <div class="stats">
              <span class="badge badge-red me-1">SE: {{ card.stats.SE }}</span>
              <span class="badge badge-yellow me-1">EE: {{ card.stats.EE }}</span>
              <span class="badge badge-orange me-1">AE: {{ card.stats.AE }}</span>
              <span class="badge badge-green">JE: {{ card.stats.JE }}</span>
            </div>
            <div class="timer">
              <i class="clock-icon"></i>
              <span>{{ card.timer }}</span>
            </div>
            <div class="circle-part"> 
              <span [class]="getColor(card)"><i
                  class="fa fa-circle" aria-hidden="true"></i>
                
              </span>
            </div>
          </div>

  
          <div *ngIf="activeCardIndex === i" class="details-section mt-3">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <!-- Image Column -->
                  <td class="image-column" rowspan="6">
                    <img [src]="card.avatar" alt="Image" class="detail-image">
                  </td>
                  <!-- Details Column -->
                  <td><b>Time:</b></td>
                  <td>{{ card.details.time }}</td>
                </tr>
                <tr>
                  <td><b>Lat:</b></td>
                  <td>{{ card.details.lat }}</td>
                </tr>
                <tr>
                  <td><b>Lng:</b></td>
                  <td>{{ card.details.lng }}</td>
                </tr>
                <tr>
                  <td><b>GPS:</b></td>
                  <td>{{ card.details.gps }}</td>
                </tr>
                <tr>
                  <td><b>Battery:</b></td>
                  <td>{{ card.details.battery }}</td>
                </tr>
                <tr>
                  <td><b>Distance:</b></td>
                  <td>{{ card.details.distance }}</td>
                </tr>
              </tbody>
            </table>
          </div>        
          
        </li>
      </ul>
    </div>
  </div>