

  .card-container {
    height:  calc(100vh - 270px);;
    overflow-y: auto;
  }
  
  .card-container.scrollable {
    height: calc(100vh - 270px);
    overflow-y: auto;
  }
  
  .card-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .tracking-row {
    background: #fff;
    border-radius: 8px;
    transition: transform 0.2s ease;
    cursor: pointer;
    border: 1px solid #cecece;
  }
  


  .profile-stats {
    display: grid;
    grid-template-columns: 7fr 9fr 3fr ;
    gap: 1rem;
    align-items: center;
}

  
  @media (max-width: 768px) {
    .details-section {
      padding: 0 10px;
    }
    
    .table td {
      padding: 8px;
    }
  
    .detail-image {
      width: 120px;
      height: 120px;
    }
  }
  
  @media (max-width: 992px) {
    .profile-stats {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .profile-stats h6 {
        grid-column: 1 / span 2; /* Full-width on smaller screens */
    }

    .profile-stats .stats,
    .profile-stats .timer,
    .profile-stats .circle-part {
        grid-column: span 1;
    }
}

@media (max-width: 576px) {
    .profile-stats {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .profile-stats h6,
    .profile-stats .stats,
    .profile-stats .timer,
    .profile-stats .circle-part {
        grid-column: span 1; /* Each item spans full width */
        text-align: center; /* Center align for smaller devices */
    }
}

// .user-image {
//   transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transformation */
// }

// .user-image:hover {
//   -webkit-transform: scale(3.5);
//   transform: scale(3.5); /* Scale up and slightly rotate */
// }