<div class="card">
    <div class="card-header">
      <span>Tracking</span>
      <div class="input-group search-box">
        <input 
          id="search-focus" 
          type="search" 
          class="form-control" 
          placeholder="Search..." 
          aria-label="Search" 
          aria-describedby="search-button"
        />
        <button 
          type="button" 
          class="btn btn-primary" 
          id="search-button"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    
    <div class="card-body">
      <ul class="list-unstyled card-container" [class.scrollable]="trackingData.length > 6">
        <li *ngFor="let card of trackingData; let i = index" (click)="toggleDetails(i, $event)"
          class="tracking-row d-flex flex-column p-2 mb-2">

          
          <div class="d-flex justify-content-between align-items-center">
            <div class="circle-part">
              <span [class]="getColor(card)"><i
                  class="fa fa-circle" aria-hidden="true"></i>
                
              </span>
            </div>
            <h6 class="mb-0">{{ card.name }}</h6>
            <div class="stats">
              <span class="badge badge-red me-1">SE: {{ card.stats.SE }}</span>
              <span class="badge badge-yellow me-1">EE: {{ card.stats.EE }}</span>
              <span class="badge badge-orange me-1">AE: {{ card.stats.AE }}</span>
              <span class="badge badge-green">JE: {{ card.stats.JE }}</span>
            </div>
            <div class="timer">
              <i class="clock-icon"></i>
              <span>{{ card.timer }}</span>
            </div>
          </div>

  
          <div *ngIf="activeCardIndex === i" class="details-section mt-3 d-flex">
            <img [src]="card.avatar" alt="Image" class="detail-image me-3">
            <div>
              <div><b>Time:</b> {{ card.details.time }}</div>
              <div><b>Lat:</b> {{ card.details.lat }}</div>
              <div><b>Lng:</b> {{ card.details.lng }}</div>
              <div><b>GPS:</b> {{ card.details.gps }}</div>
              <div><b>Battery:</b> {{ card.details.battery }}</div>
              <div><b>Distance:</b> {{ card.details.distance }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>