<div class="map-part relative">
    <div class="map-container h-full">
        <div id="map_canvas" class="w-full h-[calc(100vh-4rem)] z-0"></div>

        <div class="main-content absolute top-4 left-0">
            <div class="vehicle-lis">
                <user-in-map 
                    [userValue]="userData" 
                    [userCountData]="userCountData" 
                    [spinnerLoading]="spinnerLoading" 
                    (mapData)="confirm($event)" 
                    (selectUserConfirm)="selectUsersPlot($event)"
                    class="block max-h-[calc(100vh-8rem)] overflow-y-auto">
                </user-in-map>
            </div>
        </div>
    </div>
</div>