
<div class="card">
    <div class="card-header">
        History Track
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 mb-3">
                <app-history-filter/>
            </div>
            <div class="col-md-12">
                <div class="overflow-auto">
                    <app-loader *ngIf="isLoading"></app-loader>
                    <div id="datatable_wrapper">
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                            role="grid" #TABLE aria-describedby="datatable_info" style="width: 100%" width="100%">
                            <thead>
                                <tr role="row">
                                    <th *ngFor="let vehicleHeading of columns" [style.width]="vehicleHeading.width">
                                        <span>{{ vehicleHeading?.title }}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of historyList | searchFilter: searchKeyword; let index = index">
                                    <td>{{item?.department_name}}</td>
                                    <!-- <td>{{item?.designation_name}}</td> -->
                                    <td>{{item?.full_name}}</td>
                                    <td>{{item?.att_date | date:'dd-MM-yyyy'}}</td>
                                    <td>{{ item?.in_time }}</td>
                                    <td>{{item?.out_time}}</td>
                                    <td>{{item?.total_hrs}}</td>
                                    <td>{{item?.distance_km ? item?.distance_km + ' Km'  : ''}}</td>
                                   <td>{{item?.in_address}}</td>
                                   <td>{{item?.out_address}}</td>
                                   <td>
                                       <button class="btn btn-primary" (click)="goToHistory(item)">
                                           <i class="fas fa-play-circle me-1"></i> Play back
                                       </button>
                                   </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center py-4 text-gray-500"
                            *ngIf="!historyList?.length || !(historyList | searchFilter: searchKeyword)?.length">
                            No History Tracking Available
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>