<div class="row">
    <div class="col-md-12">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card-data">
                    <div *ngFor="let card of cards" class="card status {{ card.status }} header-card">
                        <div class="card-content">
                            <div class="card-left">
                                <span class="card-count">{{ card.count }}</span>
                                <span class="card-name">{{ card.name }}</span>
                            </div>
                            <div class="card-right">
                                <img [src]="card.icon" alt="Icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>