/* Top Bar Styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.top-bar {
  background-color: #054181; // Primary blue background
  color: white; // Text color
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Slight shadow for depth

  .header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .header-title {
    font-size: 20px;
}

  .logo-part {
    h1 {
      margin: 0;
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 10px; // Space between icons
    }
  }

  .notification-part {
    display: flex;
    align-items: center;

    .search {
      margin-left: 15px; // Space between icons
      margin-top: 7px;
      cursor: pointer;

      a {
        font-size: 18px;
        text-decoration: none;

        &:hover {
          color: #ffd700;
        }
      }
    }
  }

  #profile-part {
    font-size: 13px;
  }

  .user-popup {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    width: 150px;

    .menu {
      li {
        padding: 10px;
        border-bottom: 1px solid #eee;
        outline: none;

        &:hover {
          background-color: #054181;

          a {
            outline: none; 
            color: #fff !important;
          }
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          text-decoration: none;
          color: #333;
          display: block;
        }

      }
    }
  }
  li.menu-link::marker {
     display: none;
     content: '';
   }

  .arrow-icon {
    font-size: 13px;
    margin-left: 5px;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}

/* Menu Bar */
.menubar {
  display: flex;
  justify-content: start;
  background-color: rgb(238, 232, 232);
  list-style: none;
  padding: 10px 20px;
  gap: 15px;

  .nav-item {
    margin-right: 20px;

    a {
      color: black;
      text-decoration: none;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #ffffff;
      border-radius: 4px;
      margin-top: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &.show {
        display: block;
      }

      .dropdown-item {
        a {
          display: block;
          color: #333;
          text-decoration: none;

          &:hover {
            color: #054181;
          }
        }
      }

      .dropdown-item .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
  }

  .menubar {
    flex-wrap: wrap;
    gap: 10px;
  }
}

img.header-logo {
  max-width: 20px;
}