<header>
  <!-- Top Bar -->
  <div class="top-bar primary-top-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="header-part d-flex justify-content-between align-items-center">
            <!-- Logo Section -->
            <li class="logo-part">
              <div>
                <span class="header-title">Employee Tracking System</span>
              </div>
            </li>

            <!-- Notification and Profile Section -->
            <li class="notification-part">
              <ul class="list-inline top-right-nav mb-0 d-flex">
                <li class="me-3">
                  <div class="search-1">
                    <a>
                      <span class="login-detail"><b>Login Name :</b> Public Works Department</span>
                      <br>
                      <span class="login-detail"><b>Department :</b> PWD</span>
                    </a>
                  </div>
                </li>

                <li class="me-3">
                  <div class="search" (click)="togglePopup()">
                    <a>
                      <i class="fas fa-user"></i>
                      <i class="fas fa-chevron-down arrow-icon" [class.rotate]="showPopup"></i>
                    </a>
                    <div class="user-popup" *ngIf="showPopup">
                      <ul class="menu">
                        <li><a id="profile-part" routerLink="/my-profile">My Profile</a></li>
                        <li><a id="profile-part" routerLink="/settings">Settings</a></li>
                        <li><a id="profile-part" routerLink="/logout">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu Bar -->
  <ul class="menubar">
    <li class="nav-item dropdown" *ngFor="let menuValue of menuList">
      <ng-container *ngIf="menuValue.subNav?.length > 0 || menuValue.childSubmenu?.length > 0; else noSubmenu">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" (click)="toggleDropdown(menuValue, $event)">
          <i [class]="menuValue.iconClass"></i> {{ menuValue.name }}
        </a>
        <ul class="dropdown-menu" [class.show]="menuValue.isOpen">
          <li *ngFor="let subNavValue of menuValue.subNav" (click)="toggleDropdown(subNavValue, $event)">
            <a class="dropdown-item" [routerLink]="subNavValue.path || '#'">
              <i [class]="subNavValue.iconClass"></i> {{ subNavValue.name }}
            </a>
            <ul *ngIf="subNavValue.childSubmenu?.length > 0" class="dropdown-menu" [class.show]="subNavValue.isOpen">
              <li *ngFor="let childValue of subNavValue.childSubmenu" (click)="toggleDropdown(childValue, $event)">
                <a class="dropdown-item" [routerLink]="childValue.path || '#'">
                  <i [class]="childValue.iconClass"></i> {{ childValue.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-container>
      <ng-template #noSubmenu>
        <a class="nav-link" [routerLink]="menuValue.path || '/user/dashboard'">
          <i [class]="menuValue.iconClass"></i> {{ menuValue.name }}
        </a>
      </ng-template>
    </li>
  </ul>
</header>
