<div class="main-section">

    <table>
        <tr>
            <td colspan="7" class="center"><h2>UTTAR PRADESH PUBLIC WORK DEPARTMENT</h2></td>
        </tr>
        <tr>
            <td colspan="7" class="center"><h2>-: Work Implementation Unit :-</h2></td>
        </tr>
        <tr>
            <td colspan="7" class="center"><h2>Executive Engineer, Construction Division, PWD, Varanasi</h2></td>
        </tr>
        <tr>
            <td colspan="5">Sr No.: 1</td>
            <td colspan="2" class="center">Date: 01/01/1970 05:30:00</td>
        </tr>
        <tr>
            <td colspan="7">NAME OF WORK: </td>
        </tr>
        <tr>
            <td colspan="7">NAME OF CONTRACTOR: </td>
        </tr>
        <tr>
            <td colspan="3">Chainage: </td>
            <td colspan="4">Contract Bond No.: </td>
        </tr>
        <tr>
            <td colspan="3">MDD: </td>
            <td colspan="2">Date of Sampling: </td>
            <td colspan="2">Date of Testing: </td>
        </tr>
        <tr>
            <td colspan="2">Density Determination Test in Situ (Sand Replacement Method)</td>
            <td colspan="3" class="center">IS:2720 (Part XXVIII)</td>
            <td colspan="2">OMC: </td>
        </tr>
        <tr>
            <td colspan="7" class="center"><b>(A) Calibration of Sand</b></td>
        </tr>
        <tr>
            <td>(I) Mean weight of sand in cone (of pouring cylinder) (W2) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(II) Volume of calibrating cylinder (V) in cm<sup>3</sup></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(III) Weight of sand before pouring into calibrating container (W1) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(IV) Mean weight of sand after pouring into calibrating container (W3) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(V) Weight of sand to fill calibrating cylinder (Wa = W1-W2-W3) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(VI) Bulk density of sand Y<sub>s</sub> = (Wa/V) g/cm<sup>3</sup></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="7" class="center"><b>(B) Determination of Field Density of Core</b></td>
        </tr>
        <tr>
            <td>(I) Weight of wet material from hole (Ww) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(II) Weight of sand (+ cylinder) before pouring into hole and cone (W1) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(III) Weight of sand (+ cylinder) before pouring into hole and cone (W4) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(IV) Weight of sand in cone (W2) in g.</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(V) Weight of sand in hole, in g. W<sub>b</sub> = (W1-W4-W2)</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(VI) Bulk density Y<sub>b</sub> = (Ww/W<sub>b</sub>) Y<sub>s</sub> g/cm<sup>3</sup></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(VII) Moisture Content (W) percent (By moisture meter)</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(VIII) Dry density Y<sub>d</sub> = (Y<sub>b</sub> / (1 + (W/100))) g/cm<sup>3</sup></td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>(XI) Relative Dry density w.r.t MDD as above in percentage (=100xY<sub>d</sub>/MDD)</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="7" class="center"><b>Layer</b></td>
        </tr>
        <tr>
            <td>Mean Value as per above test</td>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td>Not less than.......percent of MDD</td>
            <td colspan="6"></td>
        </tr>
    </table>

</div>