.profile-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transformation */
  }
  
  .profile-image:hover {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
    /* Scale up and slightly rotate */
  }