<breadcrumb [breadcrumbItems]="breadcrumbs"></breadcrumb>
<div class="card">
    <div class="card-header">
        <div class="header-part">
            <span>Zone Master</span>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="onCreateZone('')">
                        <i class="fa fa-plus" aria-hidden="true"></i> Create Zone
                    </button>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="header-container">
            <div class="left-section">
                <div class="search-form">
                    <input placeholder="Search for..." type="text" [(ngModel)]="searchKeyword"
                        class="form-control search-input" />
                    <button type="button" class="btn-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="right-section">
                <mat-paginator [length]="pagesize.count" [pageSize]="pagesize.limit" [pageIndex]="pagesize.offset - 1"
                    (page)="paginationEvent($event)" [pageSizeOptions]="[10, 25, 50]" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-auto">
                    <ng-container *ngIf="isLoading; else content">
                        <app-skeleton-loader [isLoading]="isLoading" [columns]="columns" [items]="zoneList | paginate
                            : {
                                id: 'zoneID',
                                itemsPerPage: pagesize.limit,
                                currentPage: pagesize.offset,
                                totalItems: pagesize.count
                              } "></app-skeleton-loader>
                    </ng-container>
                    <ng-template #content>
                        <ngx-table #table [configuration]="configuration" [pagination]="pagesize"
                            [data]="zoneList | searchFilter: searchKeyword | paginate: {id: 'zoneID', itemsPerPage: pagesize.limit, currentPage: pagesize.offset, totalItems: pagesize.count}"
                            [columns]="columns" [noResultsTemplate]="noResultsTemplate">
                            <ng-template let-item let-index="index">
                                <td>{{ (pagesize.offset - 1) * pagesize.limit + index + 1 }}</td>
                                <td>{{item?.zone_name}}</td>
                                <td>{{item?.state_name}}</td>
                                <td>
                                    @if (item?.is_active == true) {
                                    <span>Active</span>
                                    }@else {
                                    <span>Inactive</span>
                                    }
                                </td>
                                <td>
                                    <a class="icon">
                                        <button class="btn btn-success" (click)="onCreateZone(item)"><i
                                                class="fa fa-pencil"></i> Edit</button>
                                        <button class="btn btn-danger" (click)="onDeleteZone(item)"><i
                                                class="fa fa-trash"></i> Delete</button>

                                    </a>
                                </td>
                            </ng-template>
                        </ngx-table>
                        <ng-template #noResultsTemplate>
                            <td [attr.colspan]="columns.length" class="no-results">
                                Zone Not Found
                            </td>
                        </ng-template>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>



</div>