.profile-part {
    height: calc(100vh - 53px);
    display: flex;
    max-width: 100%;
    place-items: center;
    justify-content: center;
}

.login {
    place-self: center;
    width: max(24vw, 336px);  
   
  }