<div class="modal-header text-center">
  <h5>{{editData?.full_name}}'s {{editData?.att_date | date : 'dd-MM-yyy'}} {{editData?.in_time}} to {{editData?.att_date | date : 'dd-MM-yyy'}} {{editData?.out_time}} History Tracking</h5>
  @if(!historylist?.length && !isLoading) {
    <div class="alert alert-info mb-0" role="alert">
      No history tracking data available for this time period
    </div>
  }
  <div class="close-modal" (click)="close()">
      <i class="fa fa-close" style="cursor: pointer;"></i>
  </div>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-md-12">
          <div class="map-part">
              <div class="map-container">
                  <div id="history_map"></div>
                  @if(historylist && historylist?.length > 0){
                    <div class="slider-part" >
                        <div class="play-button">
                          <button class="button-play" (click)="togglePlayPause($event)">
                            @if(isPlaying){
                              <i class="fa fa-pause" style="margin-right: 5px;" aria-hidden="true"></i>
                            }
                            @else{
                              <i class="fa fa-play" aria-hidden="true"></i>
                            }
                        </button>
                        </div>
                        <div class="slider-vehicle">
                          <input type="range" min="1" [max]="historylist?.length - 1" [value]="sliderValue" (change)="sliderChange($event)" class="slider" id="myRange">
                        </div>
                        <div class="speed-value" style="margin-left: 13px;">
                          <select class="border border-gray-800 outline-none"  (change)="onSpeedChange($event)" [(ngModel)]="selectedSpeed">
                            <option *ngFor="let speedValue of speed"  [value]="speedValue.id">{{speedValue.value}}</option>
                           </select>
                        </div>
                        <div class="total-distance">
                          <span class="distance">Distance :  {{editData?.distance_km.toFixed(2)}} Km</span>
                          </div>
                    </div>
                  }
              </div>
          </div>
      </div>
  </div>
</div>